aiofiles==23.2.1
aiogram==3.4.1
python-dotenv
aiohttp
anyio==4.9.0
blinker==1.9.0
fastapi==0.111.0  # yuqoridagi typing-extensions muammosi uchun pastlatilgan
Flask==3.1.0
httpx==0.28.1
Jinja2==3.1.6
MarkupSafe==3.0.2
# orjson o‘chirildi — Rust talab qilardi
# orjson==3.10.18
ujson==5.9.0  # orjson o‘rniga ishlatiladi
pydantic==2.5.3
python-telegram-bot==22.0
requests==2.32.3
starlette==0.37.2
uvicorn==0.34.2
